.portfolio {
    background-color: #c4a1a1;
    height: 100vh;
    padding: 100px 0;
}

.portfolioContainer {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.portfolioTitle {
    background-color: lightgray;
}

.portfolioBlock {
    display: flex;
    justify-content: space-between;
}