section {
    background-color: #f1f1f1;
    padding: 50px 0;
}
.aboutPage {
    display: flex;
    justify-content: space-between;
}

.aboutPageText {
    padding: 50px;
}

.aboutPageSpan {
    display: block;
}