header {
    background-color: #b0f3e6;
    height: 80px;
}

.classHeader {
    background-color: #b0f3e6;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}